.logo {
  height: 2em;
  width: 2em;
  padding: 0;
}

h1,
h2 {
  font-family: "Lora", serif;
}

p,
ul {
  font-family: "Roboto", sans-serif;
}

.v-center {
  display: flex;
  align-items: center;
}

/* Background image */
.bg-image {
  background: url("img/background.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

/* Nav Bar styling*/

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  display: inline;
}

li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Sticker */

#sticker {
  width: 20em;
  height: auto;
}

#sticker:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
